extends layout

block content
  .container
    h1.singlepage-title [`Hey #{user.username} !`] 
  .container.row.d-flex.flex-row.justify-content-around.mt-5
    .card.shadow.p-3.mb-5.bg-white.rounded.mb-5(style='width: 25rem;')
      - var img = vinyl.cover
      img(src='/uploads/'+ img, alt='Card image cap').card-img-top
      .card-body
        h2.card-title= vinyl.title
      ul.list-group.list-group-flush
        h3.list-group-item.artist= vinyl.artist
        li.list-group-item= vinyl.release
        li.list-group-item= vinyl.format
      .card-body
        p.card-text= vinyl.description
        .card-footer.text-muted Published by #{author}
  if user
    if user.id ==vinyl.author    
      a.btn.btn-primary.btn-block.mx-auto(role="button" style='width: 8rem' href="/vinyls/edit/"+vinyl._id) Edit Vinyl 
      //- a.btn.btn-danger.btn-block.mx-auto.delete-vinyl(role="button" style='width: 8rem' href="/vinyls/delete/"+vinyl._id) Delete
      br
      form(method='post', action="/vinyls/user/delete/"+vinyl._id,)
        input.btn.btn-danger.btn-block.mx-auto(type="submit", value="delete" style='width: 8rem')
